faiss-cpu
google-ai-generativelanguage
google-api-core
google-auth
google-auth-oauthlib
google-generativeai
google-pasta
langchain
langchain-community
langchain-core
langchain-google-genai
pypdf
PyPDF2
streamlit
python-dotenv==1.0.0
google.generativeai
